.v-toolbar{
  .logoTip{
    margin-left: 15px;
    width: 50px;
    height: 43px;
    .v-image{
      height: 100%;
    }
  }

  .find_movie{
    .v-input{
      .v-label{
        color: white
      }
      &__append-inner{
        .v-icon{
          color: white
        }
      }
      &__slot{
        input {
          color: white;
        }
      }
    }
  }
  &__items{
    a.home-btn.v-btn--active{
      &::before {
        opacity: 0;
      }
      &:focus::before {
        opacity: 0;
      }
      .v-btn__content{
        color: white !important;
      }
    }
  }
}
